* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  -webkit-tap-highlight-color: transparent;  
  /* cuando se da click en un enlace, y antes de redireccionar a dicho link, en un pequeño instante se pone un background azul */
}

:root {
  --blue: #003087;
  --black: #303030;
  --red: #c8102e;
  --white: #fefefe;
  --gris: #e6e6e6;
  --grisOscuro: #5a5a6e;
}

